.employee {
  border: 2px solid #a5a2a2;
  width: 250px;
  text-align: center;
  display: inline-block;
  height: 300px;
  margin: 0 20px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}

.employee img {
  border-radius: 100%;
  position: absolute;
  top: -51px;
  left: 70px;
}
.employee h1 {
  margin-top: 50px;
}

.employee p {
  overflow: auto;
  /* border: 1px solid red; */
  height: 200px;
}

.employee-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

@media (max-width: 480px) {
  .employee-container {
    flex-direction: column;
    row-gap: 68px;
  }
}
