form.contact-us-form {
  border: 2px solid #a19c9c;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
}

.input-wrapper {
  padding: 5px;
}

.input-wrapper label {
  width: 75px;
  display: inline-block;
}

.div-btn-wrappper input {
  border: 1px solid #93cae0;
  padding: 10px 20px;
  background-color: #93cae0;
  margin: 10px 50px;
}

.error-text {
  color: red;
  font-size: 0.7rem;
}

.error-input {
  border: 1px solid red;
}
