* {
  margin: 0;
  padding: 0;
}

h1.logo::first-letter {
  font-size: 2rem;
  color: red;
}
ul.menu {
  list-style: none;
  position: fixed;
  left: 0;
  right: 0;
  background: white;
  /* display: none; */
  margin-top: -300px;
  transition: margin 1s cubic-bezier(0.78, -0.02, 0.22, 1.34);
}

.menu a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.menu li {
  border: 1px solid gray;
}

.menu a:hover {
  background-color: gray;
}

.menu-btn {
  width: 70px;
  border-radius: 3px;
  display: inline-block;
}

.menu-btn div {
  border: 2px solid gray;
  margin: 7px;
}

input#menu-btn:checked + .menu {
  /* display: block; */
  margin-top: 0;
}

input#menu-btn {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}

/*desktop rules*/
@media (min-width: 769px) {
  header {
    border: 1px solid #d8d7d7;
    padding: 10px;
    background-color: #d8d7d7;
  }
  .menu-btn {
    display: none;
  }
  ul.menu {
    margin-top: 0;
    position: static;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: none;
  }

  .menu li {
    border: 0;
  }

  .menu a {
    padding: 5px 20px;
    width: auto;
  }
  nav.nav-bar {
    display: flex;
    align-items: center;
  }
}
