* {
  margin: 0;
  padding: 0;
}

h1.logo {
  display: inline-block;
  /* margin-left: 10px; */
}

ul.menu {
  display: inline-block;
  list-style-type: none;
}

ul.menu li {
  display: inline-block;
}

nav.nav-bar {
  border: 1px solid #d8d7d7;
  padding: 10px;
  background-color: #d8d7d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  text-decoration: none;
  padding: 5px 20px;
}

.menu a:hover {
  background-color: gray;
}

h1.logo::first-letter {
  /* border: 1px solid; */
  font-size: 2rem;
  color: red;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

main {
  margin-top: 70px;
}
